<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Demo Site</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
    <!-- use the font -->
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 12px;
        }
        .nb {
            color: 'red';
        }
        .center{
            text-align: center;
        }
        .top-margin{
            margin-top: 20px;
        }

    </style>
</head>
<body>
<p th:text="${'Dear ' + name + ','}"></p>

<p>
    Please copy the verification code below to verify your account: <br/> <br/>
    <strong><span th:text="${verificationCode}"></span></strong>
</p>


<p>
    Kind Regards, <br />
    Demo Administrator
</p>

<p class="top-margin">
    <strong>This is an automated system email. Please do not reply to this email.</strong>
</p>
<p class="center">
    ©<span th:text="${#dates.format(#dates.createNow(), 'yyyy')}"></span> Demo. All rights reserved
</p>
</body>
</html>